/* fuente importada de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Se reinician los espacios que se agregan por defecto, quedan en 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* todo texto tendrá la fuente Montserrat, botones, entradas de texto, body, etc. */
body,
button,
input {
    font-family: 'Roboto', sans-serif;
}

/* La clase container estará centrada, que es el contenedor "padre" de todo el formulario */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #fff;
}

.crud_title {
    text-align: center;
    color: #fff;

}

.crud_form {
    margin: 10px 0;

}

.title {
    background: #1ebba3;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.modal-botton {
    padding: 10px 20px;
    background-color: #1ebba3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}


/* Tamaño de fuente de las entradas a 1rem unidad relativa, equivale al tamaño por defecto del navegador, 2rem = 18px * 2  */
.form_input {
    flex: 1;
    padding: 5px;
    margin-top: 10px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
}


form input[type="email"] {
    width: 100%;
}

/* Estilos al botón "padre" o en general  */
.button {
    padding: 5px;
    background-color: #1ebba3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    margin-bottom: 5px;

}

/* efecto al pasar el mouse sobre el botón, crece 1.2  */
.modal-botton:hover {
    transform: scale(1.1);
}

/* Estilos especificos a "botón "primary" pero conserva propiedades del botón general "padre" */
.button--primary {
    background-color: #ff7d00;
    margin-top: 10px;
    color: #fff;
}

/* Estilos especificos a "botón "secundary" que se crean automaticamente en la celda "acciones"*/
.button--secundary {
    background-color: rgba(0, 0, 0, 0.35);
    margin-top: 10px;
    color: #fff;
    
}

/* Estilos especificos a "botón "terciary" que se crean automaticamente en la celda "acciones"*/
.button --terciary {
    background-color: rgba(0, 0, 0, 0.35);
    color: #ffff;
    width: 30px;
}

/* Estilos a la tabla del Crud */
.crudtable {
    width: 100%;

}

.table_header,
.table_body td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.table_header {
    background-color: #fff;
}

/* Estilos para el tercer elemento de la tablebody lo que serán los botones de la celda "acciones" */
.table_body td:nth-child(3) {
    justify-content: space-around;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 90px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;


}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #1ebba3;
    margin: auto;
    padding: 0;
    border: 1px solid #1ebba3;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s border: none;
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1ebba3;
    color: white;
    margin-top: 15px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.table_headern {
    border: 1px solid #1ebba3;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    color: #605f5f;
}

.table_headere {
    border: 1px solid #1ebba3;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    color: #605f5f;
}

.table_headert {
    border: 1px solid #1ebba3;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    color: #605f5f;
}

.table_headerc {
    border: 1px solid #1ebba3;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    color: #605f5f;
}

.table_headers {
    border: 1px solid #1ebba3;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    color: #605f5f;
}

.table_headera {
    border: 1px solid #1ebba3;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    color: #605f5f;
}